* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --contact-bg-color: #002b3f;
  --contact-arrow-color: #181818;
  --experience-bg-color: #6bd43a;
  --experience-arrow-color: #181818;
  --gallery-bg-color: #22072c;
  --gallery-arrow-color: #181818;
  --home-bg-color: #f6df67;
  --home-arrow-color: #181818;
  --active-arrow-color: #181818;

  /*misc*/
  --basic-margin: 2rem;
  --font-family: "Istok Web", sans-serif;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: var(--font-family);
  overflow: hidden;
}

/*Main*/

.container {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

.content {
  max-width: 70%;
  margin: 0 auto;
  padding: 10vh 0;
}

#blank {
  background-color: white;
}
/*Home*/
#home {
  background-color: var(--home-bg-color);
  color: var(--home-arrow-color);
}
h1 {
  font-size: 3rem;
}
/*Experience*/
#experience {
  background-color: var(--experience-bg-color);
}
/*Gallery*/
#gallery {
  background-color: var(--gallery-bg-color);
}
/*Contact*/
#contact {
  background-color: var(--contact-bg-color);
}

/*Nav*/
.sticky {
  position: fixed;
  z-index: 3;
  top: 70vh;
  left: 75vw;
}
.arrow-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1.5rem;
  color: var(--arrow-color);
  padding: 1rem;
}
.arrow {
  display: grid;
  justify-content: center;
}

.arrow svg {
  stroke: var(--active-arrow-color);
}
.arrow rect {
  stroke: var(--active-arrow-color);
}
.down svg {
  transform: rotate(180deg);
}

.left svg {
  transform: rotate(270deg);
}

.right svg {
  transform: rotate(90deg);
}
