* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --contact-bg-color: #004666;
  --contact-content-color: #ffd0f1;
  --experience-bg-color: #ffd0f1;
  --experience-content-color: #004666;
  --gallery-bg-color: #1f002b;
  --gallery-content-color: #f6df67;
  --home-bg-color: #f6df67;
  --home-content-color: #1f002b;
  --active-content-color: #1f002b;

  /*misc*/
  --basic-margin: 2rem;
  --font-family: "Istok Web", sans-serif;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: var(--font-family);
  overflow: hidden;
}

/*Main*/

.container {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: var(--active-bg-color);
}

.content {
  max-width: 70%;
  margin: 0 auto;
  padding: 10vh 0;
}

#blank {
  background-color: white;
}

#home {
  background-color: var(--home-bg-color);
  color: var(--home-content-color);
}
#gallery {
  background-color: var(--gallery-bg-color);
  color: var(--gallery-content-color);
}
#contact {
  background-color: var(--contact-bg-color);
  color: var(--contact-content-color);
}
#experience {
  background-color: var(--experience-bg-color);
  color: var(--experience-content-color);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 2rem;
}
/*Nav*/
.sticky {
  position: fixed;
  z-index: 3;
  top: 70vh;
  left: 75vw;
}
.arrow-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 1.5rem;
  color: var(--content-color);
  padding: 1rem;
}

.arrow-container p {
  color: var(--active-content-color);
  font-size: 1.3rem;
}
.arrow {
  display: grid;
  justify-content: center;
}

.arrow svg {
  stroke: var(--active-content-color);
}
.arrow rect {
  stroke: var(--active-content-color);
}
.down svg {
  transform: rotate(180deg);
}

.left svg {
  transform: rotate(270deg);
}

.right svg {
  transform: rotate(90deg);
}
